<div style="text-align:center">
    <h1>
        @Title
    </h1>
    <p>
        Feel free to
        <a href="https://google.com" target="_blank">Visit our shop</a>
        any time you want.
    </p>
    <p>
        <img src="/assets/product.jpg" alt="products image for the Home component" class="img-fluid"/>
    </p>
</div>

@code {
    [Parameter]
    public string Title { get; set; }
}
